
:root {
    --navbackground: #0000008e;
    --navbarfont: #333;
    --linkbackground: #abbb0000;
    --homebackground: #00000000;
    --hovercolor: #fff;
    --hoverback: #55b8f190;
    --clear: #00000000;
}

.navigation-bar {
    display: inline-flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    background-color: var(--navbackground);
    font-size: 25px;
    margin: 0;
    padding: 0;
    top: 0;
}
.nav-home {
    background-color: var(--homebackground);
    padding: 10px;
    margin: auto;
    margin-left: 0;
    font-size: 35px;
    border-radius: 15px;
}

.collapse-links {
    /* the ul  */
    display: inline-flex;
    position: relative;
    list-style-type: none;
    margin: 0;
}

.collapse-links > li {
    /* ul's li  */
    background-color: var(--linkbackground);
    padding: 15px;
    padding-bottom: 0;
    border-radius: 10px;
}

.collapse-links > li:hover {
    background-color: var(--hoverback);
}

.nav-home:hover {
    background-color: var(--hoverback);
}

.burgericon {
    display: none;
    float: right;
    padding: 5px;
    size: 25px;
    border-radius: 20%;
}




@media (max-width: 800px) {
    /* activate hamburger menu at this size  */
    .navigation-bar {
        font-size: 20px;
    }

    .nav-home {
        font-size: 25px;
    }

    .collapse-links {
        /* links before burger  */
        display: none;
    }

    .collapse-links > li {
        /* center links again for small drop down  */
        padding: 10px;
    }

    .responsive-links {
        display: inline-block;
        margin-right: auto;
        width: 100%;
        text-align: left;
        background-color: var(--navbackground); 
    }

    .responsive-links > a:hover {
        background-color: var(--hoverback);
    }

    .burgericon {
        display: block; 
    }

    .active-burger {
        background-color: var(--hoverback);
    }

    .burgericon:hover {
        background-color: var(--hoverback);
    }
}

