@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body {
	background-color: #1c5e81;
}
.cust-font {
	font-family: 'Rancho', cursive;
}
.row-header {
	font-size: 200%;
}
.link-text {
	font-size: 140%;
}

#title-area {
	position: relative;
		background-color: #212529;
		margin-top: -4rem;
		height: 105vh;
		color: #f8f9fa; }
		#title-area div {
			position: absolute;
			z-index: 2;
			bottom: 20%;
			left: 10%; }
			#title-area div h1 {
				font-size: 500%; }
			#title-area div p {
				font-size: 150%;
			}
	#title-image {
		position: absolute;
		right: 2rem;
		z-index: 0;
		top: 4vh;
		height: 87vh;

	}
	#about-area {
		background-color: #b8e5ffdc; }
		#about-area h3 {
			color: #5fa8d3; }
	
	#education-area {
		background-color: #f8f9fa; }
		#education-area h3 {
			color: #5fa8d3; }
	
	#tools-area {
		background-color: #212529;
		color: #f8f9fa; }

	#footer-area {
		background-color: #00334e;
		color: #f8f9fa;
		padding: 1rem;
	}
	#footer-area a {
		text-decoration: none;
		color: #f8f9fa;
	}
	#footer-area img {
		width: 30px;
		height: 30px;
	}
	#skills-images img{
		width: 100px;
		height: 100px;
	}
	#education-image {
		width: 250px;
		height: 150px;
	}
	
	@media screen and (max-width: 600px) {
		#skills-images img {
			width: 50px;
			height: 50px;
		}
		#title-area div {
			font-size: 80%;
		}
		#title-image {
			right: 0;
		}
	}
